:root {
  --color-primary: #0f172a;
  --color-accent: #c5a059;
  --color-bg:#0D1B2A;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--color-bg);
  margin: 0;
}

.appCcontainer {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
  padding: 20px;
}